title = "Trang chủ"
url = "/"
layout = "default"
is_hidden = 0
meta_title = "Cửa hàng vật liệu xây dựng & trang trí nội thất Lê Gia"
meta_description = "UY TÍN NHẤT - CHẤT LƯỢNG NHẤT - RẺ NHẤT - NHANH CHÓNG NHẤT."

[blogPost]
slug = "gioi-thieu"
categoryPage = "blog/post"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "du-an"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[carousel]
id = 1
height = 600
==
<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            {% component "carousel" %}
            <!--/#main-slider-->
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Giới thiệu về
                <strong>Công Ty TNHH LÊ GIA</strong>
            </h2>
            <hr>
            <img class="img-responsive img-border img-left"
                 src="{{ blogPost.post.getThumb(250, 150, blogPost.post.featured_images[0]) }}" alt="{{ blogPost.post.title}}">
            <hr class="visible-xs">
            {{ blogPost.post.content|raw}}
        </div>
    </div>
</div>

<div class="row">
    <div class="box product-container">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Dự án của
                <strong>Lê Gia</strong>
            </h2>
            <hr>

            {% for key, post in blogPosts.posts %}
                <div class="col-sm-3 text-center">
                    <a href="{{ post.url }}">
                        <img class="img-responsive center-block" src="{{ post.getThumb(248, 185, post.featured_images[0]) }}" alt="{{ post.title }}"></a>
                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                </div>
                {% if (key + 1)%4 == 0 %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>