# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.idea/

plugins/october/drivers/vendor
plugins/october/drivers/composer.lock
composer.lock

storage/cms/cache/*
storage/cms/combiner/*
storage/cms/twig/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/temp/*
storage/app/uploads