title = "Product list"
url = "/san-pham/:id/:slug"
layout = "default"
is_hidden = 0

[shopProductList]
category = "{{ :slug }}"
productPage = "product/detail"

[shopCategories]
slug = "{{ :slug }}"
id = "{{ :id }}"
categoryPage = "product/category"
url="san-pham/"
==
<?php
function onEnd()
{
    $this->page->title = $this->category->title;
    $this->page->meta_description = str_limit(strip_tags($this->category->description), 100);
}
?>
==

<div class="row">
    <div class="box product-container">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                {% for bread in categoryBreadcrumb %}
                    {% if bread.slug == category.slug%}
                        <strong>{{ bread.title }}</strong>
                    {% else %}
                        <a href="{{ ''|page({id:bread.id, slug:bread.slug}) }}">{{ bread.title }} / </a>
                    {% endif %}
                {% endfor %}

            </h2>
            <hr>
        </div>

        {% if category.children().count > 0 %}
            {% for key, childCategory in category.children() %}
                <div class="col-sm-3 text-center">
                    <a href="/san-pham/{{childCategory.id}}/{{ childCategory.slug }}">
                        <img class="center-block img-responsive" src="{{ childCategory.primary_image.getThumb(255, 255, {mode: 'crop'}) }}" alt="{{ childCategory.title }}"></a>
                    <h3><a href="{{ childCategory.url }}">{{ childCategory.title|slice(0, 25) }}</a></h3>
                </div>
                {% if (key + 1)%4 == 0 %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for key, product in shopProductList.products %}
                <div class="col-sm-2 text-center product">
                    <a href="#" data-toggle="modal" data-target="#myModal-{{product.id}}">
                        <img class="center-block img-responsive" src="{{ product.images[0].getThumb(255, 255, {mode: 'crop'}) }}" alt="{{ product.title }}"></a>
                    <h5><a href="#" data-toggle="modal" data-target="#myModal">{{ product.title|slice(0, 25) }}</a></h5>
                    {% if product.price > 0 %}
                        {% if product.discount > 0 %}
                            <span class="price originalPrice">{{ product.formatOriginalPrice() }}</span>
                        {% endif %}
                        <span class="price {% if product.discount > 0 %} sale {% endif %}">{{ product.formatPrice() }}</span>
                    {% else %}
                        <span class="price">Liên hệ</span>
                    {% endif %}

                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal-{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{product.title}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <img class="img-responsive img-border-left" src="{{ product.images[0].getThumb(568, 400, {mode: 'crop'}) }}" alt="{{product.title}}">
                                </p>
                                {{ product.description|raw }}
                            </div>
                        </div>
                    </div>
                </div>
                {% if (key + 1)%6 == 0 %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="clearfix"></div>
    </div>
</div>
