==
<?php
use Ntn\Configuration\Models\Configuration;

function onStart()
{
    $this['companyName'] = Configuration::getValueByKey('COMPANY_NAME');
    $this['address'] = Configuration::getValueByKey('ADDRESS_HEADQUARTERS');
    $this['hotline1'] = Configuration::getValueByKey('HOT_LINE1');
    $this['hotline2'] = Configuration::getValueByKey('HOT_LINE2');
    $this['contactEmail'] = Configuration::getValueByKey('CONTACT_EMAIL');
    $this['siteName'] = Configuration::getValueByKey('SITE_NAME');
    $this['mst'] = Configuration::getValueByKey('MST');
}
?>
==
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>
                    <b style="text-transform: uppercase">{{siteName}}</b><br>
                    MST: {{mst}}<br>
                    Ðịa chỉ: {{address}}<br>
                    Ðiện thoại: {{hotline1}} | {{hotline2}}<br>
                    Email: {{contactEmail}}
                </p>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="scrollToTop"></a>
